<?xml version="1.0"?>
<config>
  <modules>
    <Inovarti_FixAddToCartMage18>
      <version>0.1.0</version>
    </Inovarti_FixAddToCartMage18>
  </modules>
  <global>
      <models>
          <checkout>
              <rewrite>
                  <cart>Inovarti_FixAddToCartMage18_Model_Checkout_Cart</cart>
              </rewrite>
          </checkout>
      </models>
      <events>
          <checkout_cart_product_add_before>
              <observers>
                  <inovarti_fixaddtocartmage18_observer_checkout_cart_product_add_before>
                      <type>singleton</type>
                      <class>inovarti_fixaddtocartmage18/checkout_observer</class>
                      <method>disableCsrf</method>
                  </inovarti_fixaddtocartmage18_observer_checkout_cart_product_add_before>
              </observers>
          </checkout_cart_product_add_before>
      </events>
  </global>
</config>
